* {
    margin: 0;
    padding: 0;
}


/* font style for body */
.default-font-style {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

/*common style*/
.Dark-1 {
    color: #181818;
}

.Dark-2 {
    color: #474747;
}

.Dark-3 {
    color: #757575;
}

.bg-color {
    background-color: #FFF8F3;

}

.link-text {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.btn {
    color: #fff;
    background-color: #FD6E0A;
    padding: 20px 30px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
    cursor: pointer;
}

.primary-text-center {
    text-align: center;
}

.primary-margin {
    margin-bottom: 20px;
}

/*header*/
.header {
    padding-top: 30px;
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    ;
    margin-bottom: 10px;
    height: auto;
}

.main-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;
}

.child-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.child-navbar li {
    list-style: none;
    margin-right: 40px;
}


.child-navbar li a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
    font-weight: 400;
}

.logo {
    font-size: 45px;
    font-weight: 800;
    letter-spacing: 2px;
}

.custom-letter {
    color: #FD6E0A;
}

.default-header-title {
    font-size: 35px;
    font-weight: 700;
    color: #181818;
}


/*banner style*/

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 25px 0 215px;
}

.banner-content-cotainer {
    max-width: 400px;
}

.first-text {
    font-size: 30px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 10px;
}

.second-text {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 10px;
}

.third-text {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}



.banner-profile {
    width: 584px;
    height: 676px;
}

main section {
    margin: 100px 0;
}

/* About section style */

.main {
    max-width: 1140px;
    margin: 0 auto;
}

.main-about-section {
    padding: 130px 150px;
    text-align: center;
    margin: 100px 0;
    border-radius: 10px;
}


.about-items {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.item-title {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 20px;
}


.item-description {
    font-size: 20px;
    font-weight: 700;
}


/*skills details section*/

.skills-parent-container {
    display: flex;
    margin-top: 60px;
    gap: 20px;

}

.skills-child-container {
    box-shadow: 0px 6px 50px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

/*Resume section style*/
.section-description {
    padding: 0 70px;
}

.resume-section {
    display: flex;
    gap: 30px;
}

.resume-section-title {
    margin-bottom: 80px;
}

.resume-section-parent-div-title {
    font-size: 25px;
    font-weight: 700;
}

.education-section-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
}

.education-section-sub-title {
    font-size: 16px;
    font-weight: 600;
}

.education-description {
    font-size: 14px;
    font-weight: 400;
}